@import '../../assets/scss/all';

.header {
  padding: 25px 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: $medium) {
  .header {
	padding: 15px;
  }
}

.burger {
  display: none;
  width: 54px;
  cursor: pointer;
}

.nav {
  @extend %wrapper;
  width: 350px;

  a {
	color: $link-color;
	cursor: pointer;
  }
}

@media screen and (max-width: $medium) {
  .nav {
	display: none;
  }
  .burger {
	display: block;
  }
}

.logo {
  width: 150px;
}

.overlay {
  position: fixed;
  display: none;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);

  .burger {
	position: absolute;
	top: 15px;
	right: 20px;
  }

  .content_wrapper {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }

  .nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	gap: 30px;
  }
}

.show {
  display: block;
}
