@import '../../variables';
@import '../../common';

.section_bg {
    padding: 100px 0;

    .section:first-child {
        margin-bottom: 100px;
    }
}

.camera_img {
    background: url('./img/camera_img.svg') no-repeat center center;
    background-size: cover;
    width: auto;
    min-height: 656px;
    max-height: 836px;
}

@media screen and (max-width: $small) {
    .camera_img,
    .section:first-child .container {
        min-height: 306px;
    }

    .section:last-child .container {
        width: 100%;
        padding: 0;
    }
}
