@import '../../assets/scss/all';

.footer {
  background-color: #292929;
  color: $text-color-secondary;

  .wrapper {
    padding: 50px;
  }
}

.nav {
  &__title {
    margin-bottom: 5px;

    h3 {
      font-size: calc(#{$font-h} - 13px);
    }
  }
}

@media screen and (max-width: $large) {
  .footer .wrapper {
    padding: 50px 40px;
  }
}

@media screen and (max-width: $medium) {
  .footer .wrapper {
    padding: 50px 65px;
    flex-direction: column;
    gap: 55px;
    text-align: center;

    .logo {
      width: 73px;
    }

  }
}
