// Переменные

$text-color: #000000;
$font-h: 35px;
$title-color: #797773;
$font-p: 20px;
$link-color: #e73639;

// Response
$large: 992px;
$medium: 768px;
$small: 576px;

%wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
